<div id='main-content-wp' class='clearfix category-product-page'>
  <div class='wp-inner'>
    <div class='secion' id='breadcrumb-wp'>
      <div class='secion-detail'>
        <ul class='list-item clearfix'>
          <li>
            <a href='/' title='Trang chủ'>Trang chủ</a>
          </li>
          <li>
            <a href='/site/about' title='Giới thiệu'>Giới thiệu</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='main-content fl-right'>
      <div class='section' id='list-product-wp'>
        <div class='section-head clearfix'>
          <h3 class='section-title fl-left'>Về chúng tôi</h3>
        </div>
        <div class='section-detail'>
          <h2>Hoàng Nguyễn Thái Bảo</h2>
        </div>
      </div>
    </div>
    <div class='sidebar fl-left'>
      <div class='section' id='category-product-wp'>
        <div class='section-head'>
          <h3 class='section-title'>Danh mục sản phẩm</h3>
        </div>
        <div class='secion-detail'>
          <ul class='list-item'>
            {{#each listCategory}}
              <li>
                <a
                  href='/products/{{this.slug}}'
                  title='{{this.title}}'
                >{{this.title}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class='section' id='banner-wp'>
        <div class='section-detail'>
          <a href='' title='' class='thumb'>
            <img src='/images/banner.png' alt='' />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>