<div class='spinner'></div>
<div id='site'>
  <div id='container'>
    <div id='header-wp'>
      <div class='wp-inner clearfix'>
        <a href='/admin' title='' id='logo' class='fl-left'>ADMIN</a>
        <ul id='main-menu' class='fl-left'>
          <li>
            <a href='/admin/analytics' title=''>Thống kê</a>
          </li>
          <li>
            <a href='/admin/products' title=''>Sản phẩm</a>
            <ul class='sub-menu'>
              <li>
                <a href='/admin/category' title=''>Danh mục sản phẩm</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='/admin/order' title=''>Bán hàng</a>
            <ul class='sub-menu'>
              <li>
                <a href='/admin/order' title=''>Danh sách đơn hàng</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='/admin/comment' title=''>Bình luận</a>
          </li>
        </ul>
        <div id='dropdown-user' class='dropdown dropdown-extended fl-right'>
          <button
            class='dropdown-toggle clearfix'
            type='button'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='true'
          >
            <div id='thumb-circle' class='fl-left'>
              <img src='/images/img-admin.png' />
            </div>
            <h3 id='account' class='fl-right'>Admin</h3>
          </button>
          <ul class='dropdown' id='dropdown-style'>
            <li><a href='/admin/account/info' title='Thông tin cá nhân'>Thông
                tin tài khoản</a></li>
            <li><a href='/admin/account/logout' title='Thoát'>Thoát</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>