<!-- spinner -->
<div class="spinner"></div>

<!-- common header -->
<div id="site">
  <div id="container">
    <div id="header-wp">
      <div id="head-top" class="clearfix">
        <div class="wp-inner">
          <a href="/account.html" title="" id="payment-link" class="fl-left">
            iSmart xin chào quý khách
          </a>
          <div id="main-menu-wp" class="fl-right">
            <ul id="main-menu" class="clearfix">
              <li>
                <a href="/" title="">Trang chủ</a>
              </li>
              <li>
                <a href="/products.html" title="">Sản phẩm</a>
              </li>
              <li>
                <a href="/about.html" title="">Giới thiệu</a>
              </li>
              <li>
                <a href="/contact.html" title="">Liên hệ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="head-body" class="clearfix">
        <div class="wp-inner">
          <a href="/" title="" id="logo" class="fl-left"><img
              src="/images/logo.png"
            /></a>
          <div id="search-wp" class="fl-left">
            <div class="search-wrapper">
              <form action="/products.html" id="searchForm">
                <input
                  type="text"
                  name="searchTerm"
                  id="s"
                  placeholder="Nhập từ khóa tìm kiếm tại đây!"
                />
                <button type="submit" id="sm-s">Tìm kiếm</button>
              </form>
              <section class="search" id="searchList"></section>
            </div>
          </div>
          <div id="action-wp" class="fl-right">
            <div id="advisory-wp" class="fl-left">
              <span class="title">Tư vấn</span>
              <span class="phone">0987.654.321</span>
            </div>
            <div id="btn-respon" class="fl-right">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <a
              href="/cart.html"
              title="Giỏ hàng"
              id="cart-respon-wp"
              class="fl-right"
            >
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span id="num">0</span>
            </a>
            <div id="cart-wp" class="fl-right">
              <div id="btn-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span id="num" class="numDesktop">0</span>
              </div>
              <div id="dropdown">
                <p class="desc" id="numOrder">
                  Có
                  <span>0 sản phẩm</span>
                  trong giỏ hàng
                </p>
                <ul class="list-cart" id="listCart"></ul>
                <div class="total-price clearfix">
                  <p class="title fl-left">Tổng:</p>
                  <p class="price fl-right" id="totalPrice">0đ</p>
                </div>
                <div
                  class="action-cart clearfix"
                  style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      "
                >
                  <a
                    href="/cart.html"
                    title="Giỏ hàng"
                    class="checkout fl-left"
                  >Xem giỏ hàng</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>