<div id='main-content-wp' class='add-cat-page'>
  <div class='wrap clearfix'>
    <div id='sidebar' class='fl-left'>
      <ul id='sidebar-menu'>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-info-circle icon'></span>
            <span class='title'>Tài khoản</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a href='/admin/account/update' title='' class='nav-link'>Cập nhật
                thông tin</a>
            </li>
            <li class='nav-item'>
              <a href='/admin/account/change' title='' class='nav-link'>Đổi mật
                khẩu</a>
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-user-plus icon'></span>
            <span class='title'>Khách hàng</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a href='/admin/user/add' title='' class='nav-link'>Thêm khách
                hàng</a>
            </li>
            <li class='nav-item'>
              <a href='/admin/users' title='' class='nav-link'>Danh sách khách
                hàng</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id='content' class='fl-right'>
      <div class='section' id='title-page'>
        <div class='clearfix'>
          <h3 id='index' class='fl-left'>Thông tin tài khoản</h3>
        </div>
      </div>
      <div class='section' id='detail-page'>
        <div class='section-detail'>
          <form action='' class='grid-layout' novalidate id='formAccount'>
            <div class='input-group'>
              <label for='fullname'>Tên đầy đủ</label>
              <input type='text' name='fullname' id='fullname' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='username'>Tên đăng nhập</label>
              <input type='text' name='username' id='username' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='phone'>Số điện thoại</label>
              <input type='text' name='phone' id='phone' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='email'>Email</label>
              <input type='text' name='email' id='email' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='password'>Mật khẩu</label>
              <input type='password' name='password' id='password' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='role'>Vai trò</label>
              <select name='roleID' id='role'></select>
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <label for='image'>Hình ảnh</label>
              <div class='img-wrapper'>
                <img src='https://placehold.co/200x200' alt='' id='imageUrl' />
                <div
                  class='btn btn-primary btn--style'
                  id='randomBtn'
                  style='display: inline-block'
                >
                  Đổi hình ảnh
                </div>
              </div>
            </div>
            <div class='input-group'>
              <input type='hidden' name='imageUrl' />
              <span class='invalid-feedback'></span>
            </div>
            <div class='input-group'>
              <button type='submit'>Cập nhật</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>